
<div class="container">
    <legend>Enter Department</legend>
    <div class="form-group">
        <label for="floor">Floor Number: </label>
        <input type="number" name="floor" id="floor" value='{{floor}}'>
    </div>
    <div class="form-group">
        <label for="title">Department Title: </label>
        <input type="text" name="title" id="title" value="{{title}}">
    </div>
    
    
    
    <input id="id" type="hidden" name="Change"  value="{{id}}">
    <a href="/department"><input type="submit" id="departmentChange"></input></a>
    
</div>
